<h1>Tab Nav Bar</h1>

<button (click)="test()">添加</button>

<div class="demo-nav-bar">
    <nav md-tab-nav-bar aria-label="weather navigation links">
        <a md-tab-link
           *ngFor="let tabLink of tabLinks; let i = index"
           [routerLink]="tabLink.link"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
            {{tabLink.label}}
        </a>
    </nav>
    <fz-main-router-outlet #fzrouter name="primary"></fz-main-router-outlet>
</div>


<h1>Tab Group Demo - Dynamic Tabs</h1>

<md-tab-group #tabView class="demo-tab-group" dynamicHeight
              [(selectedIndex)]="tabRouterOutletService.activeTabIndex">

    <md-tab *ngFor="let tab of tabRouterOutletService.tabs" [disabled]="tab.disabled">
        <ng-template md-tab-label>
            {{tab.label}}
        </ng-template>
        <div class="tab-content">
            <fz-tab-router-outlet name="{{tab.path}}" [mainRouterOutlet]="fzrouter"></fz-tab-router-outlet>
        </div>
    </md-tab>
</md-tab-group>
